<footer>
  <a href="">About</a> Download the X app Help Centre Terms of Service Privacy Policy Cookie
  Policy Accessibility Ads info Blog Careers Brand Resources Advertising
  Marketing X for Business Developers Directory Settings © 2024 X Corp.
</footer>
