<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitter</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <img
          src="images/x.png"
          alt="x logo"
          width="50px"
          height="50px"
          class="img"
        />
        <form
          action="/register"
          method="POST"
          style="display: flex; flex-direction: column; gap: 40px"
        >
          <input
            type="text"
            name="name"
            id="name"
            style="height: 50px"
            placeholder="Name"
            autocomplete="off"
          />
          <input
            type="email"
            name="email"
            id="email"
            style="height: 50px"
            placeholder="Email"
            autocomplete="off"
          />
          <input
            type="password"
            name="password"
            id="password"
            style="height: 50px"
            placeholder="password"
          />
          <p style="color: white" class="dob">
            Date of birth <br />
            <em id="dob"
              >This will not be shown publicly. Confirm your own age, even if
              this account is for a business, a pet, or something else.</em
            >
          </p>
          <input
            type="date"
            name="birthday"
            id="birthday"
            style="height: 50px"
          />

          <input
            type="submit"
            name="submit"
            value="Register"
            id="submit"
            class="register"
          />
        </form>
      </div>
    </div>
  </body>
</html>
